# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Data and Models

mlruns/
mlflow.db
mlflow.db-journal

# Docker local databases
docker_data/

# OS metadata
.DS_Store
Thumbs.db

# Local environment secrets
.env
